* {
  font-family: "Share Teck Mono", monospace;
}

#board,
.boardInfo {
  max-width: 500px;
  overflow: auto;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#start,
.boardInfo {
  font-size: 25px;
}

#gameOver {
  display: none;
}

.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#start {
  background-color: #f35a69;
  color: white;
  border: none;
  cursor: pointer;
}

#scoreBoard {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #456990;
}

.snakeSquare {
  background-color: #ccf47f;
}

.foodSquare {
  background-color: #f35a69;
}

.gameButtons{
  display: none;
}
@media screen and (max-width: 600px){
  .gameButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    width: 100%;
  }
  .arrowButton {
    padding: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
  }
  #upButton {
    grid-column: 2/3;
    grid-row: 1;
    border-width: 0px 20px 40px 20px;
    border-color: transparent transparent #ff0000 transparent;
  }
  
  #downButton {
    grid-column: 2/3;
    grid-row: 3;
    border-width: 40px 20px 0 20px;
    border-color: #ff0000 transparent transparent transparent;
  }
  
  #leftButton {
    grid-column: 1/2;
    grid-row: 2;
    border-width: 20px 40px 20px 0px;
    border-color: transparent #ff0000 transparent transparent;
  }
  
  #rightButton {
    grid-column: 3/4;
    grid-row: 2;
    border-width: 20px 0px 20px 40px;
    border-color: transparent transparent transparent #ff0000;
  }
}
